body {
	background-color: #f2f1ef;

}
/*container Div*/
.wrapper {
display: grid;
grid-template-columns: repeat(12,1fr);


}

.wrapper>div{
	
	padding: 1em;
	
 
}

.header {
    grid-column:1/13;
	background: #34495e;
	border-bottom: #e8491d 3px solid;
    max-height: 100px;
}

.header>ul {
    margin:0;
	padding: 0;

}

.header>ul>li{
	float: right;
	display: inline;	
	padding: 20px 20px 15px 20px;

}

.header>ul>li>a{
	text-decoration: none;
	color:#ffffff;
	padding: 20px 20px 15px 20px;

	
}
.header>ul>li>a:hover{
	
	color:#f9690e;
}



/*Header Logo Span*/
.header>h1>span {
	float: left;
	color: #f9690e;
	font-size: 50px;
}
.header>h1>span:hover{
	text-shadow: 0 0 7px white;
}



#advertisement {
	grid-column:1/13;
	background:url('../images/advertisement.jpg') no-repeat 0 -50px;
	min-height: 100px;
	opacity: 0.8;

}

.catnavbar{

	background: #34495e;
	grid-column:1/13;
	max-height: 50px;
	border-bottom: #e8491d 3px solid;
}

.catnavbar>nav>ul {

	margin: 0;
	padding: 0;
}

.catnavbar>nav>ul>li{

	float: left;
	display: inline;	
	padding: 7px 20px 0px 20px;
	
}

.catnavbar>nav>ul>li>a {
	
	width: 110px;
	text-decoration: none;
	padding: 7px 10px 0px 20px;
	color:#ffffff;

	
}
.catnavbar>nav>ul>li>a:hover {
	
	width: 110px;
	color:#f9690e;

	
}

/*Hero Image*/
.hero {
	grid-column:1/13;
	background:url("../images/sarath.jpg")no-repeat 0px -400px;
	max-height: 400px;
	
	text-align: center;
	color:#ffffff;
}


.hero>p{
font-family: comic;
margin: 350px;
color:#ffffff;
font-size: 30px;

}

.newssection {
	float: left;
	grid-column:2/5;	
    max-width: 350px;
	
}
.heading {
margin-top: 10px;
}


.newssectionnext{
	margin-left: 80px;
	float: left;
	grid-column:5/8;
	max-width: 350px;	

}

.heading {
	grid-column:1/5;
}

.topstories{
	margin-left: 120px;
	padding: 0;
    grid-column:8/13;
}

.topstories>ul>li {


	font-family: comic;
	font-size: 20px;
	padding-top: 0;
	
	
}
.topstories>h3 {
    margin: 0px;


}

.business {
	margin-left: 10px;
	float: left;
	grid-column:2/5;
	
	
	
}

.business2div{
    margin-left: 80px;
	float: left;
	grid-column:5/8;
	
}

.business3div{
    margin-left: 150px;
	float: left;
	grid-column:8/13;
	max-width: 320px;
	

}

.science1div {
	margin-left: 10px;
	float: left;
	grid-column:2/5;	
    max-width: 320px;
	
}
.science2div {

	margin-left: 80px;
	float: left;
	grid-column:5/8;	
    max-width: 320px;
	
}

.science2div>h3>a {
    text-decoration: none;
}

.science2div>h3>a:hover {
    color: #f9690e; 
}

.science3div {
	margin-left: 150px;
	float: left;
	grid-column:8/13;
	max-width: 320px;	
   	
}

.hover>h3:hover {
	color:#f9690e;
}


.submit {
	height: 38px;
	background:#e8491d;
	border: 0;
	padding-left:20px;
	padding-right: 20px;
	color: #ffffff;
}

.textbox{
padding: 4px;
height: 25px;
width: 180px;
}

/*footer*/
.footer {
grid-column:1/13;
display: grid;

background:#e8491d;
}


.footer>footer>div {
	float: left;
    margin-left: 100px;	
    grid-column:1/2;
   
}

.footer>footer>div>img:hover {
	opacity: 0.5;
}

.explore-list>ul{
	margin: 0;
	padding-right: 50px;

}



/*copyright-footer*/
.copyright {
color: #ffffff;
}

